.banner img{
	max-height: 500px;
}
/**********师资介绍***************/
.fieldwork_introduce{
	clear: both;
	padding: 10px 20px;
	text-align: center;
}
.fieldwork_introduce h2{
	position: relative;
	display: inline;
	font-size: 40px;
	margin: 5px 0;
}
.fieldwork_introduce h2:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	left: 0;
	bottom: -5px;
	background-color:#da420f;;
}
.fieldwork_introduce p{
	font-size: 20px;
	margin: 15px 0 5px 0;
}
.fieldwork_introduce p>span{
	display: inline-block;
	text-indent: 2em;
}
/*************师资信息******************/
.fieldwork_information{
	clear: both;
	width: 100%;
	height: 800px;/*tmp*/
	padding: 20px 0;
	color: #000;
	background-color: rgb(247,247,247);
}
.fieldwork_information h2{
	margin:0px 0 20px 0;
	font-size: 2em;
	text-align: center;
}
.fieldwork_personal_item{
	border: 1px solid #ccc;
	float: left;
	width: 90%;
	margin-left: 5%;
	color: #000;
	background-color: #fff;
}
.fieldwork_leftPhoto{
	padding: 30px;
	width: 310px;
	max-width: 310px;
}
.fieldwork_leftPhoto img{
	width: 100%;
	height: auto;
}
.fieldwork_rightInfo{
	width:-webkit-calc(100% - 310px); 
	width:-moz-calc(100% - 310px); 
	width:calc(100% - 310px); 
	padding: 30px;
}
.fieldwork_rightInfo h4{
	font-size: 16px;
	color: rgb(185,185,185);
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
.fieldwork_rightInfo p{
	line-height: 30px;
}
.fieldwork_rightInfo p:last-child{
	text-indent: 2em;
}
.fieldwork_rightInfo p span:first-child{
	width: 65px;
	text-align: center;
	font-weight: bold;
}
.fieldwork_rightInfo p span{
	display: inline-block;
}
.fieldwork_rightInfo p span.info{
	margin-left: 5px;
}

/*******media********/
@media (max-width: 1000px) {
	.fieldwork_personal_item{
		padding: 0 0 0 5%;
	}	
	.fieldwork_rightInfo{
		padding:15px 10px 0 0;
	}
}
@media (max-width: 740px){
	.fieldwork_personal_item{
		padding:10px 0;
	}		
}
@media (max-width: 700px){
	.fieldwork_leftPhoto{
		margin-top: 5%;
		padding: 30px;
		width: 250px;
		max-width: 250px;
	}	
	.fieldwork_rightInfo{
		width:-webkit-calc(100% - 250px); 
		width:-moz-calc(100% - 250px); 
		width:calc(100% - 250px); 
		padding-top: 5px;
		font-size: 0.9em;
	}
}
@media (max-width: 630px){
	.fieldwork_leftPhoto{
		margin-top: 8%;
	}
}
@media (max-width: 538px){
	.fieldwork_leftPhoto{
		width: 220px;
		min-width: 220px;
		margin-top: 13%;
	}
	.fieldwork_rightInfo{
		width:-webkit-calc(100% - 220px); 
		width:-moz-calc(100% - 220px); 
		width:calc(100% - 220px); 
	}
}
@media (max-width: 510px){
	.fieldwork_personal_item{
		padding: 30px;
	}
	.fieldwork_leftPhoto{
		margin-top: 0;
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}	
	.fieldwork_leftPhoto img{
		padding: 0;
	}
	.fieldwork_rightInfo{
		width:100%; 
	}
	.fieldwork_personal_item .fl{
		float: none;
	}
	.fieldwork_personal_item .fr{
		float: none;
	}
}
@media (max-width: 320px){
	.fieldwork_personal_item{
		padding: 10px;
	}
}