@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form,a,span{font-family: '微软雅黑','宋体';}
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0;}
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
span{
    display: block;
}
.moreBtn{
    text-align: center;
    padding: 0 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    background-color: rgb(30,67,152);
    transition: background-color 0.5s;
}
.moreBtn:hover{
    background-color: rgb(20,55,110);
}
img{
    width: 100%;
    height: auto;
    min-height: auto;
}
.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a{text-decoration:none;color: #000;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{text-decoration:none;font-weight:normal;font-size:100%;}
h4{font-size: 32px;color: #000;line-height: 50px;}
s,i,em{font-style:normal;text-decoration:none;}
i{
	display: block;
}
.col-red{color: #C81623!important;}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.spanInfo{
    font-size: 12px;
    color: rgb(180,0,100);
    text-transform: uppercase;
}
/*返回顶部*/
.returnTop{
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #ccc;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.35s;
}
.returnTop i{
    color: #fff;
    font-size: 18px;
}
.returnTop:hover{
    background-color: red;
}
