/*轮播图*/
#slider_wrapper .row{
	margin: 0;
}
.carousel .carousel-inner .item img{
    max-height: 500px;
}
.slide{
    position: relative;
}
.carousel a{
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
}
.carousel .leftBtn,.carousel .rightBtn{
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: hsla(0,0%,100%,.4);
    background: rgba(0,0,0,.2);
    transition: background 0.2s,color 0.2s;
}
.carousel .leftBtn{
    left: 10%;
}
.carousel .rightBtn{
    left: 90%;
    margin-left: -40px;
}
.carousel .leftBtn:hover,.carousel .rightBtn:hover{
    color: hsla(0,0%,100%,.6);
    background: rgba(0,0,0,.6);
}

/*简介*/
.abstract_inner{
	width: 100%;
}
.abstract_inner .abstractInfo{
	background: rgb(42,77,158);
	padding: 10px 10%;
	color: #fff;
}
.abstract_inner .abstractItem{
	width: 16.66%;
	padding: 30px 10px;
	text-align: center;
	line-height: 25px;
	float: left;
	position: relative;
	overflow: hidden;
}
.abstract_inner a:nth-child(odd)>.abstractItem{
	background-color: rgb(235,235,235);
}
.abstract_inner .abstractItem p{
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
}
.abstract_inner .abstractItem span{
	position: absolute;
	top: 100%;
	padding: 10px;
	transition: top 0.2s;
	left: 0;
	background-color: rgba(100,100,240,0.8);
}
.abstract_inner .abstractItem:hover span{
	position: absolute;
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: left;
	top: 0;
	font-size: 14px;
}
.abstract_inner .abstractItem i{
	font-size: 72px;
}
/*师资信息*/
.teachers_inner{
	padding: 30px 0 60px 0;
	width: 100%;
	position: relative;
}
.teachers_inner>span,.teachers_inner h4{
	display: block;
	width: 100%;
	text-align: center;
}
.teachers_inner h4{
	margin-bottom: 30px;
}
.teachers_item{
	text-align: center;
}
.teachers_item h5{
	color: rgb(124,30,132);
	line-height: 30px;
	font-size: 18px;
}
.teachers_item p{
	line-height: 30px;
}
.teachers_inner button{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -72px;
}
/*实习情况*/
.fieldwork_inner{
	width: 100%;
	padding: 30px 10% 60px 10%;
	margin-top: 30px;
	background-color: rgb(247,247,247);
}
.fieldwork_inner>.fieldwork_info{
	width: 100%;
	float: left;
	padding: 20px 0;
}
.fieldwork_inner>.fieldwork_info button{
	margin: 15px 0;
}
.fieldwork_item_li{
	position: relative;
}
.fieldwork_item_li .fieldwork_info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 5%;
	color: #fff;
	opacity: 0;
	transition: background 0.35s,opacity 0.35s;
}
.fieldwork_item_li:hover .fieldwork_info{
	opacity: 1;
	background-color: rgba(0,0,0,.8);
}
.fieldwork_item_li:hover .fieldwork_info>h5{
	transform: translateY(0);
}
.fieldwork_info>h5{
	padding-top: 20%;
	font-size: 1.4em;
	line-height: 2;
	transform: translateY(-50px);
	transition: transform 0.35s;
}
.fieldwork_item_li:hover .fieldwork_info>h6{
	transform: translateX(0);
}
.fieldwork_info>h6{
	font-size: 1em;
	line-height: 1.5;
	transform: translateX(100px);
	transition: transform 0.35s;
}
.fieldwork_item_li:hover .fieldwork_info>p{
	transform: translateX(0px);
}
.fieldwork_item_li .fieldwork_info>p{
	margin-top: 10px;
	font-size: 1em;
	line-height: 1.5;
	color: rgb(130,130,130);
	transform: translateX(-100px);
	transition: transform 0.35s;
}
.fieldwork_item_li:hover .fieldwork_info>a{
	transform: translateY(0px);
}
.fieldwork_item_li .fieldwork_info>a{
	position: absolute;
	bottom: 15%;
	color: #fff;
	transform: translateY(100px);
	transition: transform 0.35s;
}
.fieldwork_item_li .fieldwork_info>a>i{
	margin-left: 5px;
}
/*轮播*/
.fieldwork_items{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.fieldwork_item_ul{
	width: 9999px;
	transition: transform 0.5s;
	transform:translate3d(0,0,0);
}
.fieldwork_item_li{
	float: left;
}
.fieldwork_items button{
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: hsla(0,0%,100%,.4);
    background: rgba(0,0,0,.2);
    transition: background 0.2s,color 0.2s;
}
.fieldwork_items .fieldwork_prev{
    left: 0;
}
.fieldwork_items .fieldwork_next{
    right: 0;
}
.fieldwork_items .fieldwork_prev:hover,.fieldwork_items .fieldwork_next:hover{
    color: hsla(0,0%,100%,.6);
    background: rgba(0,0,0,.6);
}

/*校内实验室*/
.school_lib_inner{
	width: 100%;
	padding: 30px 10% 60px 10%;
	position: relative;
}
.school_lib_inner h4{
	margin-bottom: 15px;
}
.school_lib_inner button{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -72px;
}
/*校内实验室 图片交互*/
.school_lib_item{
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 33.3%;
	float: left;
	padding: 10px;
	overflow: hidden;
}
.school_lib_item img{
	width: 100%;
}
.school_lib_item_mutual{
	position: absolute;
	top: 5px;
	left: 5px;
	width:-webkit-calc(100% - 10px); 
	width:-moz-calc(100% - 10px); 
	width:calc(100% - 10px); 
	height:-webkit-calc(100% - 10px); 
	height:-moz-calc(100% - 10px); 
	height:calc(100% - 10px); 
	color: #fff;
	background-color:rgba(58,52,42,0);
	transition: transform 0.3s,border 0.3s;
}
.school_lib_item_mutual h3{
	position: absolute;
	font-weight: bold;
	font-size: 1.7em;
	top: 35%;
	width: 100%;
	text-align: center;
	transition: font-size 0.2s,opacity 0.2s;
	opacity: 0;
}
.school_lib_item_mutual p{
	position: absolute;
	font-size: 1.25em;
	top: 52%;
	opacity: 0;
	transition: opacity 0.3s,font-size 0.3s;
}
.school_lib_item:hover .school_lib_item_mutual{
	border: 2px solid #fff;
	background-color:rgba(0,0,0,.2);
	transform: scale(0.8);
}
.school_lib_item:hover .school_lib_item_mutual>h3{
	opacity: 1;
	font-size: 1.5em;
}
.school_lib_item:hover .school_lib_item_mutual>p{
	opacity: 1;
	font-size: 1.2em;
}

/*校外基地*/
.school_outside_inner{
	margin-top: 30px;
	width: 100%;
	padding: 30px 10% 60px 10%;
	position: relative;
	background-color: rgb(247,247,247);
}
.school_outside_inner h4{
	margin-bottom: 25px;
}
.outside_item{
	width:-webkit-calc(33.3% - 20px); 
	width:-moz-calc(33.3% - 20px); 
	width:calc(33.3% - 20px); 
	margin: 10px;
	float: left;
	border-top: 2px solid #5C307D;
	height: 262px;
	padding: 30px;
	background-color: #f6f6f6;
	transition: transform 0.35s,border 0.35s;
	cursor: pointer;
	position: relative;
	background-color: #fff;
	overflow: hidden;
}
.outside_item:before,.outside_item:nth-child(2n+0):before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 2px;
	height: 0;
	background-color: #5C307D;
	transition: height 0.35s;
}
.outside_item:after,.outside_item:nth-child(2n+0):after{
	content: '';
	position: absolute;
	right: 0;
	top: 100%;
	width: 2px;
	height: 0;
	background-color: #5C307D;
	transition: height 0.35s,top 0.35s;
}
.outside_item:hover{
	transform: translateY(-10px);
	border-bottom: 2px solid #5C307D;
}

.outside_item:hover:before,.outside_item:hover:after{
	height: 100%;
}
.outside_item:hover:after{
	top: 0;
}
.outside_item:nth-child(2n+0):hover:before,.outside_item:nth-child(2n+0):hover:after{
	background-color: #E0823D;
}
.outside_item:nth-child(2n+0)
{
	border-top: 2px solid #E0823D;
}
.outside_item:nth-child(2n+0):hover{
	border-bottom: 2px solid #E0823D;
}

.outside_item h5{
	font-size: 16px;
	color: #22132d;
	padding: 0.3em 0 0.5em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
.outside_item p{
	color: #777;
	font-size: 0.9em;
	line-height: 1.4em;
	height: 12.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
.school_outside_inner button{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -72px;
}
/*获奖情况*/
.awards_inner{
	width: 100%;
	margin-top: 20px;
	padding: 30px 10%;
}
.awards_inner .nextInfo{
	width: 100%;
	padding: 0 0 50px 0;
}
.awards_btn_inner .awards_prev,.awards_btn_inner .awards_next{
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 30px;
	background-color: transparent;
	color: #666;
	transition: color 0.35s;
}
.awards_btn_inner .awards_prev:hover,.awards_btn_inner .awards_next:hover{
	color: #000;
}
.awards_inner .nextInfo .awards_btn_inner a{
	display: block;
	text-decoration: none;
	font-size: 24px;
	color: #666;
	line-height: 50px;
	margin: 0 20px;
	float: left;
}
.awardsItemBox{
	width: 100%;
	padding: 20px 0 0 0;
	overflow: hidden;
}
.awards_item_ul{
	width: 9999px;
	transition: transform 0.5s;
}
.awards_item_li{
	float: left;
}

.awards_item_li img{
	padding: 10px 10px 0 10px;
}
.awards_item_li img:hover{
	opacity: 0.7;
}
.awards_item_li .awards_caption{
	float: left;
	padding:0 10px 10px 10px;
}
.awards_item_li .getAwardsInfo{
	width: 100%;
	padding:0 15px;
	text-align: center;
}
.awards_item_li .getAwardsInfo>h6{
	width: 100%;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	line-height: 40px;
	font-size: 16px;
}
.awards_item_li .getAwardsInfo p{
	color: #666;
	font-size: 1em;
	line-height: 1.4em;
	height: 2.8em;
	width: 100%;

	overflow: hidden;
	text-overflow: ellipsis;
}
.awards_item_li .getAwardsInfo a{
	font-size: 13px;
	line-height: 40px;
	font-weight: bold;
}

/*毕业设计*/
.design_inner{
	width: 100%;
	padding: 30px 10% 60px 10%;
	background-color: rgb(237,237,237);
	position: relative;
}
.design_inner h4{
	margin-bottom: 15px;
}
.design_inner .spanInfo{

}
.design_inner .design_item{
	width: 33.3%;
	padding:5px;
	float: left;
}
.design_inner .design_item img{
}
.design_inner button{
	position: absolute;
	left: 50%;
	margin-left: -72px;
	bottom: 15px;
}
/*毕业设计图片交互*/
figure.design_item{
	position: relative;
	cursor: pointer;
}
figure.design_item figcaption{
	position: absolute;
	top: 5px;
	left: 5px;
	width:-webkit-calc(100% - 10px); 
	width:-moz-calc(100% - 10px); 
	width:calc(100% - 10px); 
	height:-webkit-calc(100% - 10px); 
	height:-moz-calc(100% - 10px); 
	height:calc(100% - 10px); 
	color: #fff;
	text-align: center;
	transition: background-color 0.35s;
}
figure.design_item:hover figcaption{
	background-color:rgba(48,133,163,.5);
}
figure.design_item figcaption::before,
figure.design_item figcaption::after {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.design_item figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.design_item figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.design_item h5 {
	position: absolute;
	height: 30px;
	line-height: 30px;
	opacity: 0;
	font-size: 24px;
	top: 50%;
	margin-top: -15px;
	width: 100%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s,opacity 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.design_item:hover figcaption::before,
figure.design_item:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.design_item:hover h5{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*意见反馈*/
.feedback{
	padding: 30px 0;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	background-attachment: fixed;
    background-image: url('../images/banner_5.jpg');
}
.feedback .spanInfo{
	color: #000;
}
.feedback>h4{
	color: #000;
}
.feedback form{
	width: 80%;
	margin: 10px auto;
	color: #000;
}
.feedback form input[type='text'],.feedback form input[type='email'],.feedback form textarea{
	line-height: 30px;
	height: 30px;
	transition: background-color 0.2s;
}
.feedback form input[type='text']:focus,.feedback form input[type='email']:focus,.feedback form textarea:focus,.feedback button{
	background-color: rgba(255,255,255,.2);
}
.feedback form input[type='text'],.feedback form input[type='email']{
	display: inline-block;
	padding-left: 5px;
	margin: 0 0 0 1%;
	width: 48%;
}
.feedback form textarea{
	display: block;
	padding-left: 5px;
	width: 96%;
	min-height: 200px;
	margin: 10px auto;
	resize:none;
	overflow:hidden;
}
.feedback button{
	color: #fff;
	background-color: rgb(30,67,152);
	transition: background-color .2s;
}
.feedback button:hover{
	background: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;opacity:1;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color: #000;opacity:1;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #000;opacity:1;
}

