/**************user*******************/
.user{ 	
	border: 1px solid #ccc;
	width: 100%;
	padding: 30px 5%;
}
.user table{ 
	text-align: center;
	width:100%;
	
}
.user tr{  border-bottom: 1px dashed #ccc; height:50px;}
.user td{width: 20%;}
input{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user input{
	border: 1px solid #ccc;
	font-size: 15px;
	text-align: center;
}
input:hover{
	background-color: #ccc;
}
button,button+a{
	width: 75px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid black;
}
button+a{
	background-color: #fff;
	display: inline-block;
}
button{
	background-color: #fff;
}
button:hover{
	background-color: #ccc;
}
a:hover{
	background-color: #ccc;
}